<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/style.css"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Bank View</h1>
<div th:fragment="bank">
    <div th:object="${bank}">
        <p>Bank name: <span th:text="*{name}"> client name </span></p>
    </div>
</div>
<h1>Bank List</h1>
<div th:fragment="bankList">
    <h1>Bank list</h1>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="bank : ${bankList}">
            <th><a th:href="@{/bank/{id}(id=${bank.id})}"
                   target="_blank"
                   th:text=" ${bank.name}"> bank name </a></th>
        </tr>
    </table>
</div>
<h1>New Bank</h1>
<div th:fragment="bankCreate">
    <form id="create-form" method="post"
          th:action="@{/bank/save}"
          th:object="${newBank}"
          accept-charset="utf-8">
        <div class="row">
            <label for="name-input">Name:</label>
            <input id="name-input" type="text" th:field="*{name}" th:placeholder="*{name}"/>
        </div>
        <br>
        <div class="rowColor">
            <button type="submit" style="width:100px">Create</button>
        </div>
    </form>
</div>
</body>
</html>