<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Client</h1>
<div th:fragment="client">
    <div th:object="${client}">
        <p>Name: <span th:text="*{name}"> client name </span></p>
        <p>Name: <span th:text="*{phonenumber}"> client phonenumber </span></p>
        <p>Name: <span th:text="*{passportNumber}"> client passportNumber </span></p>
    </div>
</div>

<h1>New client</h1>
<div th:fragment="clientCreate">
    <form id="create-form" method="post"
          th:action="@{/client/save}"
          th:object="${newClient}"
          accept-charset="utf-8">
        <div class="row">
            <label for="name-input">Name:</label>
            <input id="name-input" type="text" th:field="*{name}" th:placeholder="*{name}"/>
            <label for="name-input">Passport:</label>
            <input id="name-input" type="text" th:field="*{passportNumber}" th:placeholder="*{passportNumber}"/>
            <label for="name-input">phoneNumber:</label>
            <input id="name-input" type="text" th:field="*{phoneNumber}" th:placeholder="*{phoneNumber}"/>
            <label for="name-input">e-mail:</label>
            <input id="name-input" type="text" th:field="*{email}" th:placeholder="*{email}"/>
        </div>
        <br>
        <div class="row">
            <button type="submit" style="width:100px">Save</button>
        </div>
    </form>
</div>
<h1> Client List</h1>
<div th:fragment="clientList">
    <h1>Client list</h1>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="client : ${clientList}">
            <th><a th:href="@{/client/{id}(id=${client.id})}"
                   target="_blank"
                   th:text=" ${client.name}"> bank name </a></th>
        </tr>
    </table>
</div>
</body>
</html>
