<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="/main_blanks.html :: top_menu"></div>

    <div class="col-100">
        <h1>Bank</h1>
        <div th:fragment="bank">
            <div th:object="${bank}">
                <p><span class="field">Bank name: </span><span th:text="*{name}"> client name </span></p>
            </div>
        </div>

        <div th:if="${newName}">
            <div class="container">
                <form action="#" th:action="@{/save/bank/__${bank.id}__/}"
                      th:object="${newBank}" method="post">
                    <div class="row">
                        <div class="col-25">
                            <label for="bank_name">New bank name: </label>
                        </div>
                        <div class="col-75">
                            <input id="bank_name" type="text" th:field="*{name}"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" style="width:100px" name="save">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-100">
            <a class="act_button" th:href="@{/edit/bank/__${bank.id}__}">edit name</a>
            <a class="act_button" th:href="@{/add/bank/__${bank.id}__/client}">add client</a>
            <a class="act_button" th:href="@{/remove/bank/__${bank.id}__/client}">remove client</a>
            <a class="act_button" th:href="@{/create/credit/bank/__${bank.Id}__}">new credit</a>
            <a class="act_button" th:href="@{/delete/bank/__${bank.id}__}">delete bank</a>
        </div>
    </div>
    <div class="col-100">
        <div class="col-50">

            <h1>List of client</h1>
            <div class="list" th:insert="/clientService.html :: clientList"></div>
        </div>
        <div class="col-50">
            <h1>List of credit</h1>
            <div th:fragment="creditList">
                <ul th:each="credit : ${creditList}">
                    <li><a th:href="@{/credit/__${credit.id}__}"
                           target="_self"
                           th:text="'period: ' + ${credit.period} +
               ' limit: ' + ${credit.getCreditLimitFormatted()} +
               ' rate: ' + ${credit.interestRate}"> credit </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
