<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>
<!--<link rel="stylesheet" href="../static/css/style.css">-->
<head>
    <meta charset="UTF-8">
    <title>Bank service</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="/blanks/main_blanks.html :: top_menu"></div>
    <h1>New bank</h1>
    <div th:insert="/blanks/bank_blanks.html :: bankCreate"></div>
    <h1>List of banks</h1>
    <div th:insert="/blanks/bank_blanks.html :: addBankList"></div>
</div>
</body>

</html>
