<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/css/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/blanks/bank_tamplate.html :: bank"></div>
<a th:href="@{/clientService/}">clientService</a>

<a th:href="@{/bank/{bankid}(bankid=${bank.id})/client/{clientid}(clientid=${client.id})}"
   target="_blank"
   th:text=" ${bank.name} +' add ' + ${client.name}"> bank add client </a>

</head>

</body>
</html>
