<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/css/style.css}"/>
<link rel="stylesheet" href="../static/css/style.css"/>
<head>
    <meta charset="UTF-8">
    <title>Bank service</title>
</head>
<body>
<div class="wrapper">
<!--    <div th:insert="/blanks/main_tamplate.html :: top_menu"></div>
    <h1>New bank</h1>
    <div th:insert="/blanks/bank_tamplate.html :: bankCreate"></div>
    <h1>List of banks</h1>
    <div th:insert="/blanks/bank_tamplate.html :: bankList"></div>-->
    fdgfgdg <br>
    <p>dfdsfsdfsdfsd</p>
    <p>dfdsfsdfsdfsd</p>
    <p>dfdsfsdfsdfsd</p>
    <p>dfdsfsdfsdfsd</p>
</div>
</body>

</html>
