<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Choose bank</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="/blanks/main_blanks.html :: top_menu"></div>
    <h1>Choose bank</h1>
    <div th:fragment="chooseBank">
        <ul th:each="bank : ${bankList}">
            <li><a th:href="@{/bind/client/__${client.id}__/bank/__${bank.id}__}"
                   target="_self"
                   th:text=" ${bank.name}"> bank name </a></th>
            </li>
        </ul>
    </div>
</div>
</body>

</html>
