<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Client service</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="/blanks/main_template.html :: top_menu"></div>
    <h1>New client</h1>
    <div th:insert="/blanks/client_template.html :: clientCreate"></div>
    <div class="col-50">
        <h1>List of client</h1>
        <div class="list" th:insert="/blanks/client_template.html :: clientList"></div>
    </div>
</div>
</body>
</html>
