<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Choose client</title>
</head>
<body>
<div class="wrapper">
    <div class="col-100">
        <div th:insert="/main_blanks.html :: top_menu"></div>
    </div>
    <div class="col-50">

        <div th:object="${client}">
            <p><span class="field">Client name: </span><span th:text="*{name}"> client name </span></p>
            <p><span class="field">passport number: </span><span class="entity" th:text="*{passportNumber}"> client passportNumber </span>
            <p><span class="field">phone number: </span> <span th:text="*{phoneNumber}"> client phone number </span></p>
            <p><span class="field">e-mail: </span><span th:text="*{email}"> client e-mail </span></p>
        </div>
    </div>

    <div class="col-50">
        <div th:if="${editClient}">
            <div class="container">
                <form id="edit-form" method="post"
                      th:action="@{/save/client/__${client.id}__}"
                      th:object="${editClient}"
                      accept-charset="utf-8">
                    <div class="row">
                        <div class="col-25">
                            <label for="name-input">Name:</label>
                        </div>
                        <div class="col-75">
                            <input id="name-input" type="text" th:field="*{name}" th:placeholder="*{name}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="name-input">Passport number:</label>
                        </div>
                        <div class="col-75">
                            <input id="name-input" type="text" th:field="*{passportNumber}"
                                   th:placeholder="*{passportNumber}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="name-input">Phone number:</label>
                        </div>
                        <div class="col-75">
                            <input id="name-input" type="text" th:field="*{phoneNumber}"
                                   th:placeholder="*{phoneNumber}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="name-input">E-mail:</label>
                        </div>
                        <div class="col-75">
                            <input id="name-input" type="text" th:field="*{email}" th:placeholder="*{email}"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" style="width:100px">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-100">
        <a class="act_button" th:href="@{/client/__${client.id}__/bank}">add bank</a>
        <a class="act_button" th:href="@{/edit/client/__${client.id}__}">edit</a>
        <a class="act_button" th:href="@{/delete/client/__${client.id}__}">delete</a>
    </div>

    <div class="col-50">
        <h1>Choose bank to get credits</h1>
        <div class="list">
            <ul th:each="bank : ${bankList}">
                <li><a th:href="@{/client/__${client.id}__/bank/__${bank.id}__/credit}"
                       th:text="'bank: '+ ${bank.name}">bank name </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-50">

        <div class="list" th:unless="${#lists.isEmpty(creditList)}">
            <h1 th:text="'Bank: ' + ${bank.name} + ' credits: '">Available credits </h1>
            <ul th:each="credit : ${creditList}">
                <li><a th:href="@{/client/__${client.id}__/credit/__${credit.id}__}"
                       th:object="${choosenCredit}"
                       target="_self"
                       th:text="'period: ' + ${credit.period} + ' limit: ' + ${credit.getCreditLimitFormatted()} + ' rate: ' + ${credit.interestRate}">
                    credit </a>
                </li>
            </ul>
        </div>

        <div th:if="${choosenCredit}">
            <h1>New credit Offer</h1>
            <div th:object="${choosenCredit}">
                <p>limit: <span th:text="*{getCreditLimitFormatted()}"> 500 000 </span></p>
                <p>interest rate: <span th:text="*{interestRate}"> 15 </span>%</p>
                <p>period: <span th:text="*{period}"> 15 </span> month</p>
            </div>
            <div class="container">
                <form action="#" th:action="@{/save/offer/client/__${client.id}__/credit/__${choosenCredit.id}__}"
                      th:object="${offer}" method="post">
                    <div class="row">
                        <div class="col-25">
                            <label for="amount" th:text="'Amount limit '+ ${choosenCredit.creditLimit}">Amount
                                limit:</label>
                        </div>
                        <div class="col-75">
                            <input id="amount" type="text" th:field="*{creditAmount}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="data">Begin date: </label>
                        </div>
                        <div class="col-75">
                            <input id="data" type="text" th:field="*{beginDate}" th:placeholder="*{beginDate}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="payStrategy">Pay strategy: </label>
                        </div>
                        <div class="col-75">
                            <select id="payStrategy" th:field="*{payStrategy}">
                                <option th:each="strategy : ${strategyList}"
                                        th:value="${strategy}"
                                        th:text="${strategy}">strategy
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" style="width:100px" name="save">Save</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <div class="col-100">
        <h1>Credit offer list</h1>
        <div th:unless="${#lists.isEmpty(offerList)}">
            <ul th:each="offer : ${offerList}">
                <li><a th:href="@{/offer/__${offer.id}__}"
                       target="_self"
                       th:text="'amount: ' + ${offer.creditAmount} +
                       ', pay strategy: ' + ${offer.payStrategy} +
                       ' begin date: ' + ${offer.beginDate}">
                    bank name </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

