<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Choose client</title>
</head>
<body>
<div class="wrapper">
    <div class="col-100">
        <div th:insert="/blanks/main_blanks.html :: top_menu"></div>
        <div class="list" th:insert="/blanks/client_blanks.html :: client"></div>
    </div>
    <div class="col-50">
        <a class="act_button" th:href="@{/client/__${client.id}__/bank}">add bank</a>
        <h1>List of banks</h1>
        <div th:insert="/blanks/bank_blanks.html :: addBankList"></div>
    </div>
    <div class="col-50">
        <a class="act_button" th:href="@{/client/{client_id}/newCditOffer}">make offer</a>
    </div>
</div>
</body>
</html>

