<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Client service</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="/blanks/main_blanks.html :: top_menu"></div>
    <h1>New client</h1>
    <div th:insert="/blanks/client_blanks.html :: clientCreate"></div>
    <div class="col-50">
        <h1>List of client</h1>
        <div class="list">
            <div th:fragment="clientList">
                <ul th:each="client : ${clientList}">
                    <li><a th:href="@{/client/{id}(id=${client.id})}"
                           target="_self"
                           th:text="'client: ' + ${client.name}">client: name </a></th>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
