<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Credit</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="/blanks/main_blanks.html :: top_menu"></div>
    <div class="col-100">
        <h1>Credit offer</h1>
        <div class="list">
            <div th:object="${offer}">
                <p><span class="field">Credit amount: </span><span th:text="*{creditAmount}"> 500 000 </span></p>
                <p><span class="field">beginDate: </span><span th:text="*{beginDate}">16.06.2021</span></p>
<!--                <p><span class="field">Strategy: </span><span th:text="*{payStrategy}"> annuity </span>month</p>-->
                <div th:each="payment : *{paymentList}">
                    <div th:text="${payment.date}"></div>
                </div>
            </div>
        </div>
    </div>
    <a class="act_button" th:href="@{/delete/offer/__${offer.id}__}">delete</a>
</div>
</body>
</html>
