<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" href="../static/css/style.css" th:href="@{/static/css/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Credit</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="/blanks/main_blanks.html :: top_menu"></div>
    <div class="col-100">
        <h1>Credit</h1>
        <div class="list">
            <div th:object="${credit}">
                <p>Credit limit: <span th:text="*{creditLimit}"> 500 000 </span></p>
                <p>Credit interest rate: <span th:text="*{interestRate}"> 15 </span>%</p>
                <p>Credit period: <span th:text="*{period}"> 15 </span>month</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
