<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New Bank</h1>
<div th:fragment="bankCreate">
    <form id="create-form" method="post"
          th:action="@{/bank/save}"
          th:object="${newBank}"
          accept-charset="utf-8">
        <div class="row">
            <label for="name-input">Name:</label>
            <input id="name-input" type="text" th:field="*{name}" th:placeholder="*{name}"/>
        </div>
        <br>
        <div class="row">
            <button type="submit" style="width:100px">Save</button>
        </div>
    </form>
</div>
</body>
</html>